@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .leaflet-routing-container {
    margin-top: 6rem !important;
    max-height: 400px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.95);
    font-size: 0.9rem;
  }
}